/* From Press to Pixel CSS */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main{
  max-width: 1000px;
  margin: 0 auto;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #E8E6EE;
  color: #222;
}

#logo {
  height: 50px;
  width: 50px;
}

/* Header */
header {
  background-color: #f2f0f6;
  border-bottom: 1px solid #ddd;
  padding: 10px 20px;
}

h1{
  margin: 5px auto;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 0 16px;
}

.nav-menu > li {
  position: relative;
  margin: 0 10px;
}

nav a {
  text-decoration: none;
  color: #333;
}

.nav-menu a:hover {
  background-color: #ceceda;
}

.dropdown {
  position: relative;
}

.dropdownMenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  flex-direction: column;
  background-color: #f2f0f6;
  list-style: none;
  padding: 0;
  margin: 0;
  min-width: 130px;
  border: 1px solid #ddd;
  border-radius: 4px;
  z-index: 1000;

}

.dropdown:hover .dropdownMenu {
  display: flex;
}

.dropdownMenu li a {
  display: block;
  padding: 10px 16px;
  color: #000000;
  text-align: center;
}

.dropdown:hover .dropdownMenu {
  display: block;
}

.dropdownMenu li a:hover {
  background-color: #cecada;
}

#hamburgerBtn {
   position: absolute;
    z-index: 20;
    top: 10px;
    border: 0;
    padding: 0;
    width: 30px;
    cursor: pointer;
    right: -50px;
    transition: all 0.5s;
}

.settings {
  background-color: #4D544B;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 5px;
  cursor: pointer;
}

/* Main content */
main {
  background-color: #E8E6EE;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1, h3 {
  text-align: center;
  margin-bottom: 20px;
}

.content {
  max-width: 900px;
  background-color: #ffffff;
  padding: 20px;
  font-size: 16px;
  text-align: justify;
  border-radius: 10px;
  box-shadow: 0px 4px 10px #0000001a;
}

/*floats interactive element to the left*/
.interactive-element {
  float: left;
  width: 280px;
  background-color: #E8E6EE;
  border-left: 6px solid #922F28;
  padding: 15px;
  margin: 15px 25px 15px 0;
  border-radius: 6px;
}

.interactive-element h3 {
  background-color: #922F28;
  color:  #E8E6EE;
  padding: 6px;
  margin-bottom: 10px;
  text-align: center;
  border-radius: 4px;
}

.interactive-element ul {
  margin-left: 20px;
}

/* Clears float for later paragraphs */
.clear {
  clear: both;
}

/* Footer */
footer {
  text-align: center;
  padding: 12px;
  background-color: #f2f0f6;
  border-top: 1px solid #ddd;
  margin-top: 40px;
}

.crap{
  float:right;
  width: 280px;
  background-color: #E8E6EE;
  border-left: 6px solid #031A4D;
  padding: 15px;
  margin: 15px 25px 15px;
  border-radius: 6px;
}

.crap h3{
  background-color: #031A4D;
  color: #E8E6EE;
  padding: 6px;
  margin-bottom: 10px;
  text-align: center;
  border-radius: 4px;
}

.crap ul {
  margin-left: 20px;
}

.left-text{
  flex-wrap: wrap;
}

/*home page*/
#image{
    width: 100%;
    width: 400px;
    height: auto;
    max-height: 100%;
    margin: 0 auto;
}

#left, #right{
    position: absolute;
    background-color: transparent;
    border-color: transparent;
    bottom: 300px;
}

#left_arrow, #right_arrow{
  width: 40px;
  height: 30px;
}

#right{
    right: 375px;
}

#left{
  left: 375px;
}

#left_arrow:hover, #right_arrow:hover {
    background-color: #adadad;
}

.carosel{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}


/*Credibility*/
#credList li{
  list-style-position: inside;
  padding-left: 15px;
}


@media (max-width: 768px) {
    #hamburgerBtn {
        display: block;
        right: 10px;
    }

    .nav-menu {
        display: none;
        flex-direction: column;
        background-color: transparent;
        width: 100%;
        padding: 10px 0;
        position: absolute;
        top: 70px;
        left: 0;
        border-top: 1px solid #ccc;
    }

    .nav-menu.active {
        display: flex;
    }

    .nav-menu > li {
        width: 100%;
    }

    .dropdown:hover .dropdownMenu {
        display: none;
    }

    .dropdownMenu {
        position: static;
        display: none;
        background-color: transparent;
    }

    .dropdown:hover .dropdownMenu {
      display: none;
  }

    .dropdown.active .dropdownMenu {
        display: block;
    }

    #carousel {
        flex-direction: column;
    }

    #left, #left_arrow,
    #right, #right_arrow {
        flex-direction: column;
    }
}